<launch>
    <arg name="jsTarget" />
    <arg name="deadzone" />
    <arg name="nodeName" />

    <node pkg="joy" type="joy_node" name="$(arg nodeName)" >
        <remap from="joy" to="$(arg jsTarget)" />
        <param name="dev" value="/dev/input/$(arg jsTarget)" />
        <param name="coalesce_interval" value="0.01" />
        <param name="deadzone" value="$(arg deadzone)" />
    </node>
</launch>

