<launch>

    <node pkg="roboteam_input" type="roboteam_input" name="roboteam_input" output="screen" />

    <param name="input0/input" value="js0" />
    <param name="input0/robot" value="0" />
    <param name="input0/joyType" value="gioteck" />
    <param name="input0/mode" value="normal" />

    <param name="input1/input" value="js1" />
    <param name="input1/robot" value="1" />
    <param name="input1/joyType" value="gioteck" />
    <param name="input1/mode" value="normal" />

    <param name="input2/input" value="js2" />
    <param name="input2/robot" value="2" />
    <param name="input2/joyType" value="xbox" />
    <param name="input2/mode" value="normal" />

    <param name="input3/input" value="js3" />
    <param name="input3/robot" value="3" />
    <param name="input3/joyType" value="xbox" />
    <param name="input3/mode" value="normal" />

    <node pkg="roboteam_input" type="run_input_plugin.py" name="input_plugin" />

</launch>
