<launch>

   

    <node pkg="joy" type="joy_node" name="js4" >
        <remap from="joy" to="js4" />
        <param name="dev" value="/dev/input/js4" />
        <param name="coalesce_interval" value="0.01" />
    </node>



	<node pkg="roboteam_input" type="roboteam_input" name="roboteam_input" output="screen">
        <!-- The "input" param in each group is READ ONLY -->
        <!-- TODO: Implement a topic/event s.t. this can be changed by a gui -->

        <param name="input1/input" value="js4" />
        <param name="input1/robot" value="5" />
        <param name="input1/joyType" value="gioteck" />

        
	</node>

</launch>
